.Header {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.AndreIntro {
  height: 100%;
  margin-left: 12%;
  margin-right: 12%;
  padding: 0;
  text-align: justify;
}
.AndreIntro img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 300px;
  max-width: 100%;
  border-radius: 8px;
}
