.Header {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.AndreIntro {
  margin: 0 15px 0 15px;
  text-align: center;
}
.AndreIntro img {
  display: inline-block;
  max-height: 300px;
  max-width: 100%;
  border-radius: 8px;
}
.AndreIntro div {
  display: block;
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
}

.Link {
  color: black;
}

@media (min-width: 900px) {
  .Wrapper {
    text-align: center;
  }
  .AndreIntro {
    overflow: hidden;
    display: inline-block;
    width: 850px;
  }
  .AndreIntro img {
    max-height: 400px;
    float: left;
    margin-right: 10%;
  }
  .AndreIntro div {
    text-align: justify;
    vertical-align: middle;
    padding-top: 15px;
    max-width: none;
  }
}
