.FindMe {
  text-align: center;
  margin: 0px 10px 0 10px;
}
.FindMe h2 {
  margin-bottom: 25px;
  margin: 10px;
  padding: 10px;
}
.FindMe p {
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
}
.SocialGroup {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
}
.Social {
  margin: 10px;
  float: left;
}

@media (min-width: 900px) {
  .FindMe p {
    max-width: 850px;
  }
  .SocialGroup {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
