.Bio {
  text-align: center;
  margin: 0 15px 0 15px;
}

.Bio img {
  display: block;
  max-height: 450px;
  max-width: 100%;
  border-radius: 8px;
  margin: 0 auto;
}

.Header {
  display: block;
  margin: 10px;
  padding: 10px;
}

.BioText {
  display: block;
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
}

.Link {
  color: black;
}

@media (min-width: 900px) {
  .BioText {
    max-width: 850px;
  }
  .BioText img {
    float: left;
    max-height: 575px;
    margin-right: 5%;
  }
  .SecondColumn {
    padding-top: 5px;
  }
}
